*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
li{
    display: inline;
    
}
a{
text-decoration: none;
padding: 10px;
font-family: sans-serif;
color: black;

}

.menu a:hover{
background-color:rgb(57, 153, 27) ;
padding: 10px;
color: white;
transition: 0.6s ease-in-out;
border-top-right-radius: 20px;
border-bottom-left-radius: 15px;    
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
    width: 100%;
    margin-left: -200px;
   
   
   
}

.emri{
 
    position: absolute;
    left: 150px;
    top: 28px;
    font-size: 23px;
    
    

}

span{
    color:  rgb(255, 255, 255);
    background-color:rgb(57, 153, 27) ;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    font-size: 20px;
   
}
    .logoja{
     
        padding: 10px;
        background-color: rgb(57, 153, 27);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 15px;
        color: white;
      
    }
    
    .triat{
        width: 70%;
        margin: auto 340px;
        margin-top: 270px;
      
    }
    .haj{
        margin:5px;
        
    }
    .une{
        margin:5px;
    }
    h3{
        margin: 5px;
        font-family: sans-serif;
    }
    button{
        
        font-size: 16px;
        background-color:  rgb(57, 153, 27);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 15px;
        width: 15%;
        border: 1px solid white;
        padding: 10px;
        margin: 10px;
        color: white;
        cursor: pointer;
    }

    p{
        color: white;
        font-weight: bold;
    }
    i{
        padding: 5px;
    }
.profile-image{
        width: 29%;
        float: right;
        border-radius: 50%;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 15px;
        margin-top: -114px;
        
    }
    .fill-primary{
        fill: rgb(57, 153, 27);
     }
 
     figure{
         margin-left: 233px;
     }
 
     svg {
         vertical-align: middle;
     }
     .profile-image svg {
         width: 400px;
         fill: rgb(57, 153, 27);
     }
 
     mask{
         mask-type:alpha;
         
     }
    
     .profile-image image {
         width: 63%;
         
     }
  


    .ikonat{
        width: 100%;
        height: 100%;
        margin-top: -190px;
        margin-left: 40px;
    }
    .ikonat i{
        font-size: 30px;
    }
    .abouti{
        width: 80%;
        display: flex;
        height: 100%;
        margin: auto;
        padding: 10px;
    }
    .titull{
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #282828;
        color: transparent;
        font-weight: 800;
        font-size: 60px;
        
        text-align: center;

       

    }
    .abouti img{
    width: 20%;
    border-radius: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 15px;
    margin-left: 100px;
   
    }

    
    
    .para{
        color: black;
        font-family: sans-serif;
        margin-left: 50px;
    }
    .para2{
        color: black;
        font-family: sans-serif;
        font-weight: lighter;
        margin-left: 50px;
        
    }
    .para3{
        color: black;
        font-weight: bold;
    }

    .skills {
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        color: #000000;
        justify-content: center;
    }
    .skill {
        width: 35%;
        margin: 0 15px;
        
    }
    .skill-name {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0;
        color: #212529;
        
    }

    .skill-bar {
        height: 10px;
        background: #cacaca;
        border-radius: 8px;
    }

    .skill-per {
        height: 10px;
        background-color: rgb(57, 153, 27);
        border-radius: 8px;
        width: 0;
        transition: 1s linear;
        position: relative;
    }

    .skill-per::before {
        content: attr(per);
        position: absolute;
        padding: 4px 6px;
        color: #fff;
        background-color: #212529;
        font-size: 12px;
        border-radius: 4px;
        top: -35px;
        right: 0;
        z-index: 99;
        transform: translateX(50%);
    }

    .contanier{
        width: 100%;
        margin-left: 9px;
    }

    .titulli2{
        padding: 20px;
        font-size: 50px;
        font-weight: bold;
        font-family: sans-serif;
        margin-left: 250px;
    }

    .kontenti{
        text-align:center ;
        display: flex;
    justify-content: space-evenly;
    
    
    }

    .shkronja1{
        font-size: 140px;
        font-family: "League Spartan", sans-serif;
        font-weight: 700;
        text-shadow: 0.03em 0.03em 0 #000000;
        color: transparent !important;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #19191c;
        transition: 0.3s linear;
    }

    .paragrafi1{
       
        transition: 0.3s linear black;
        cursor: pointer;
        font-weight: 500;
        color: #525252;
    }

    .container {
        max-width: 1300px;
        padding: 0 40px;
        margin: 0 auto;
        align-items: center;
    }

    .h1shat {
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #282828;
        color: transparent;
        font-weight: 800;
        font-size: 60px;
        
        text-align: center;
    }
    .works__details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: -5px 0 -5px 0;
    }

    .works__details .works__image {
        width: 45%;
    }

    .works__image img {
        width: 100%;
    }

    .works__details .works__details_text {
        width: 45%;
        padding: 0 20px;
    }

    .works__details .works__details_text h2 {
        font-size: 38px;
    }
    
    .works__details .works__details_text p {
        margin: 15px 0;
        color: #515151;
    }

    .works__details .works__details_text .works__btn {
        border: none;
        background-color: rgb(57, 153, 27);
     border-radius: 5px;
    
   
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        transition: 0.3s linear;
        padding: 0.7rem 0.7rem 0.7rem 2.2rem;
        font-size: 14px;
    }


    .works__details .works__details_text .works__btn a{
        margin-left: -40px;
        color: white;
    }

    .container {
        max-width: 1300px;
        padding: 0 40px;
        margin: 0 auto;
        align-items: center;
    }

    .contactform h1 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #282828;
        color: transparent;
        font-weight: 700;
        font-size: 60px;
        text-align: center;
    }

    #contactForm h3 {
        color: #282828;
    }

    .contactform h3 {
       
        font-weight: 900;
        font-size: 22px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }

    #form {
        display: flex;
        flex-direction: column;
    }

    .form-control-div {
        display: flex;
        width: 100%;
        margin: 10px;
        flex-direction: column;
    }

    .form-control-div input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        background-color: transparent;
        outline: none;
        padding: 10px;
        color: #282828;
        transition: 0.3s linear;
    }

    small {
        display: none;
    }

    .form-control-div textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #515151;
        background-color: transparent;
        outline: none;
        color: #282828;
        transition: 0.3s linear;
        padding: 10px;
    }

    .tekstii p{
        color: #212529;
        width: 100%;
        font-weight: 200;
        text-align: center;
    }

    b {
        color: black;
        font-weight: bold;
       
    }

    .fotter__sm {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .fotter__sm a {
        color: #212529;
        text-decoration: none;
        font-size: 24px;
        padding: 30px 10px;
        transition: color 0.3s;
        transition-timing-function: linear;
    }